table {
  width: 96%;
}

.mat-elevation-z8 {
  width: 96%;
}

.status-btn {
  width: 90px;
}

.filter {
  width: 100%;
}

.btn-light:hover {
  background-color: lightgray;
}

@media only screen and (max-width: 768px) {
  .status-btn {
    width: 60px;
    font-size: 10px;
  }

  .edit-btn {
    width: 60px;
    font-size: 10px;
  }
}
