.bar-css {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.line-css {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

.stat-css {
  margin: 0 auto;
  margin-top: 80px;
}

.container {
  margin-top: 50px;
}

h4 {
  font-weight: 700;
}
