<app-navbar-manager></app-navbar-manager>

<h2 class="container text-center text-dark">Event (name)</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 mb-5">
      <div class="event-card">
        <div class="card mx-auto mb-4" style="width: 20rem">
          <img class="card-img-top" src="../assets/image/student.jpg" alt="" />
          <div class="card-body">
            <h5 class="card-title">Event</h5>
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam
              doloremque, facilis rerum porro soluta, distinctio ad perspiciatis
              tempore officiis.
            </p>
          </div>
        </div>
        <!-- Button -->
        <div>
          <div class="d-flex align-items-center flex-column">
            <div class="p2 mb-2">
              <button class="btn btn-primary">Extend deadline</button>
            </div>
            <div class="p2 mb-2">
              <button class="btn btn-primary">Extend upload</button>
            </div>
            <div class="p2 mb-2">
              <button class="btn btn-danger">Delete event</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
      <div *ngFor="let art of article" class="card mb-5">
        <div class="card-header">Title</div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
              repellat fugiat sint libero eos eveniet aperiam, dolor labore
              reprehenderit repudiandae necessitatibus nesciunt? Praesentium
              quis voluptatum quidem, provident alias ullam magni?
            </p>
            <footer class="blockquote-footer">
              Submitted by <cite title="Source Title">Person</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
