.container {
  margin-top: 50px;
}

.d-flex {
  margin-right: 50px;
}

.card-text {
  height: 125px;
  overflow: hidden;
  max-width: 30ch;
}

.card-title {
  height: 50px;
  overflow: hidden;
  max-width: 30ch;
}

.card-img-top {
  height: 150px;
}
