<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">

            <form action="/admin" method="POST">
                <input name="username" type="text">    
                <input name="password" type="text"> 
                <button type="submit">Login</button>   
            </form>


        </div>

    </div>
</body>

</html>