<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="<%=clientID%>">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="https://drive.google.com/uc?export=view&id=1aoD7GeB7Dz5iEi0-VHSTR7vlNfKSa9iZ" width="100" height="150">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Node Google Drive Upload</h1>

            <p>Login or Register with:</p>

            <!-- <form action="/api/upload/39" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" id="input-files" multiple />
                <button type="submit">Submit</button>
            </form> -->

            <form action="/api/article/60/update-submission" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" id="input-files" multiple />
                <button type="submit">Update</button>
            </form>

            <div class="g-signin2" data-onsuccess="onSignIn"></div>

            <a href="#" onclick="signOut();">Sign out</a>

           

        </div>
    </div>
    <script>
        function onSignIn(googleUser) {
            
            // var profile = googleUser.getAuthInstance();
            // googleUser.grantOfflineAccess({
            //     scope: 'profile email'
            // })
            // auth2.grantOfflineAccess({
            //     scope: 'profile email'
            // })
            var auth2 = gapi.auth2.getAuthInstance();

            console.log("authh: ", googleUser.getAuthResponse())
            // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            // console.log('Name: ' + profile.getName());
            // console.log('Image URL: ' + profile.getImageUrl());
            // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
</body>

</html>