<!DOCTYPE html>
<html>
  <head>
    <title>Node Authentication</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
        word-wrap: break-word;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row">
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-danger">
              <span class="fa fa-google-plus"></span> Google
            </h3>

            <p>
              <strong>name</strong>: <%= name %>
              <br />
              <strong>pic</strong>:
              <img src="<%=pic%>" width="200" height="200" alt="" />
            </p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-danger">
              <span class="fa fa-google-plus"></span> Upload File to Google
              Drive
            </h3>

            <% if (success) { %>
              <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close"
                  >×</a
                >
                <strong>Success!</strong> Your Image File is Uploaded.
              </div>
              <%}%>

            <form action="/upload" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <input
                  type="file"
                  class="form-control"
                  name="file"
                  required
                  multiple="multiple"
                  id=""
                />
              </div>
              <div class="form-group">
                <button class="btn btn-block btn-danger">
                  Upload File
                </button>
              </div>
            </form>

            <form action="/createfolder" method="POST">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="folderName"
                  required
                  id=""
                />
              </div>
              <div class="form-group">
                <button class="btn btn-block btn-danger">
                  Create folder
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>