<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">
        <a target="_blank" href="https://drive.google.com/file/d/1gCXCCIElpnoQaCOHELJgTFqtxs33lOEN/view?usp=drivesdk">Download</a>
        <div class="jumbotron text-center">

            <form action="/api/folder/updateEvent" method="POST" enctype="multipart/form-data">

                <input type="text" name="id" placeholder="event ID">
                <input type="text" name="title" placeholder="title">
                <input type="text" name="content" placeholder="content">
                <input type="date" name="startDate" placeholder="startDate">
                <input type="date" name="endDate" placeholder="endDate">
                <input type="file" name="file" id="input-files" />

                <button type="submit">Submit</button>
            </form>


        </div>

    </div>

    <script>
        function download() {
            console.log("downloaded")
        }
    </script>

</body>

</html>