<app-navbar-manager></app-navbar-manager>

<h2 class="container text-center text-dark">Event manangement</h2>

<div class="container">
  <div class="d-flex flex-row-reverse">
    <button class="btn btn-primary" routerLink="/createevent">New Event</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div
      *ngFor="let event of events; index as i"
      class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-5"
    >
      <div class="card mx-auto" style="width: 20rem">
        <img class="card-img-top" src="../assets/image/student.jpg" alt="" />
        <div class="card-body">
          <h5 class="card-title">{{ event.event_title }}</h5>
          <p class="card-text">
            {{ event.event_content }}
          </p>
          <a
            routerLink="/detailevent"
            class="btn btn-primary"
            (click)="setEvent(event.event_id)"
          >
            More detail...
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
