.container {
  margin-top: 50px;
}

.file-link {
  margin-left: 20px;
}

.modal-dialog-full-width {
  width: 100% !important;
  height: auto !important;
  margin-top: 50px !important;
  padding: 0 !important;
  max-width: none !important;
}

.modal-content-full-width {
  height: 100% !important;
  min-height: 100% !important;
  border-radius: 0 !important;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .card {
    width: 11rem !important;
  }
}
