<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto" id="login-btn">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <button
                class="btn btn-lg btn-google btn-block text-uppercase mb-3"
                type="submit"
                (click)="loginWithGoogle()"
              >
                <i class="fab fa-google mr-2"></i>
                &ensp; Login with Google
              </button>
              <button
                class="btn btn-lg btn-dark btn-block text-uppercase"
                type="submit"
                (click)="showDiv()"
              >
                <i class="fas fa-user mr-2"></i> &ensp; Login as Guest
              </button>
            </div>
            <div class="col-md-9 col-lg-8 mx-auto" id="login-input">
              <a id="backLink" (click)="hideDiv()">Back</a>
              <h3 class="login-heading mb-4">Login as Guest</h3>
              <form>
                <div class="form-label-group">
                  <input
                    #username
                    type="text"
                    id="inputEmail"
                    class="form-control"
                    placeholder="Email address"
                    required
                    autofocus
                  />
                  <label for="inputEmail">Username</label>
                </div>

                <div class="form-label-group">
                  <input
                    #password
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
                    required
                  />
                  <label for="inputPassword">Password</label>
                </div>

                <button
                  class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                  type="submit"
                  (click)="guestLogin(username.value, password.value)"
                >
                  Sign in
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
