<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #e3f2fd"
>
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">University of Greenwich</a> -->
    <img src="../assets/image/logo.png" alt="" />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-option" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/coor/{{ +route.snapshot.paramMap.get('facultyId') }}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/cevent/{{ +route.snapshot.paramMap.get('facultyId') }}"
            >Articles</a
          >
        </li>
      </ul>
      <ul class="navbar-nav acc-div">
        <li class="nav-item">
          <a class="nav-link" routerLink="/account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-danger" (click)="logOut()">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
