.container {
  margin-top: 50px;
}

img {
  width: 200px;
}

.modal-dialog-full-width {
  width: 100% !important;
  height: auto !important;
  margin-top: 50px !important;
  padding: 0 !important;
  max-width: none !important;
}

.modal-content-full-width {
  height: 100% !important;
  min-height: 100% !important;
  border-radius: 0 !important;
}
