<div class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{ event.event_title }}</h1>
      <p class="lead my-3">{{ event.event_content }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div *ngFor="let atcl of articles" class="mb-3">
    <p class="text-secondary fst-italic border-bottom">
      {{ atcl.article_submission_date | date }}
    </p>
    <div class="row">
      <div class="col-lg-10" style="height: 200px">
        <!--        <a-->
        <!--          routerLink="/article/{{ atcl.article_id }}"-->
        <!--          style="text-decoration: none"-->
        <!--        >-->
        <h3
          class="text-primary"
          data-toggle="modal"
          data-target="#modalStatus"
          (click)="chooseArticle(atcl.article_id)"
        >
          {{ atcl.article_title }}
        </h3>
        <!--        </a>-->
        <p>
          {{
            atcl.article_content.length > 500
              ? (atcl.article_content | slice: 0:300) + "..."
              : atcl.article_content
          }}
        </p>
      </div>
      <div class="col-lg-2">
        <img
          style="height: 150px"
          src="../../../assets/image/student.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<!--Modal-->
<div
  class="modal fade"
  id="modalStatus"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-full-width"
    role="document"
  >
    <div class="modal-content modal-content-full-width">
      <div class="modal-header modal-header-full-width">
        <h5 class="modal-title" id="exampleModalLongTitle">View article</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="articleDetail">
        <div class="row">
          <!--Content review div-->
          <div
            class="embed-responsive embed-responsive-4by3 col-sm-12 col-md-12 col-lg-9"
          >
            <!--Iframe-->
            <iframe
              class="embed-responsive-item"
              [src]="safeActiveLink"
              height="800px"
              width="1000px"
            ></iframe>
          </div>

          <!--Function div (in the right)-->
          <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="row">
              <!--List of files-->
              <div class="col-sm-12 container" *ngIf="fileList">
                <label class="font-weight-bold">List of files</label>
                <ul
                  class="list-group"
                  *ngFor="let file of fileList; let i = index"
                >
                  <li
                    class="list-group-item list-group-item-action border-left-0 border-right-0 border-top-0"
                    style="width: auto"
                    (click)="setActive(file.file_fileId)"
                  >
                    {{ file.file_name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>Loading...</ng-template>
